<nav class="navbar-light bg-light py-2">
  <div class="container text-center">
    <a href="/icon/ramadan.jpg" download title="yuklab olish" class="navbar-brand" href="#">
      <img src="/icon/ramadan.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Ramazon
    </a>
  </div>
</nav>