{{> navbar}}


<div class="card text-center">
    <div class="card-header">
        Ramazon muborak bo'lsin
    </div>
        <div class="card-body">
            <form action="/" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Ismingizni kiriting</label>
                    <input type="text" title="ismingizni shu yerga yozing" min="3" name="name" class="form-control" id="name" placeholder="Misol uchun: Abdulloh">
                </div>
                <input type="submit" title="Yuborish" class="btn btn-primary" value="Yuborish" />
            </form>
        </div>
    <div class="card-footer text-muted">
        <a style="text-decoration: none" title="Kaminaning github sahifasiga o'tish" href="https://github.com/Zokirkhon1002">Github: Zokirkhon</a>
    </div>
</div>
